In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Q7.csv')

In [3]:
df

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [5]:
df['Points'].mean()

3.5965625000000006

In [7]:
df['Points'].median()

3.6950000000000003

In [8]:
df['Points'].std()

0.5346787360709716

In [9]:
df['Points'].var()

0.28588135080645166

In [17]:
df['Points'].min()

2.76

In [18]:
df['Points'].max()

4.93

In [19]:
df['Score'].mean()

3.2172499999999995

In [20]:
df['Score'].median()

3.325

In [21]:
df['Score'].var()

0.9573789677419356

In [22]:
df['Score'].std()

0.9784574429896967

In [23]:
df['Score'].min()

1.513

In [24]:
df['Score'].max()

5.424

In [25]:
df['Weigh'].mean()

17.848750000000003

In [26]:
df['Weigh'].median()

17.71

In [27]:
df['Weigh'].var()

3.193166129032258

In [29]:
df['Weigh'].std()

1.7869432360968431

In [30]:
df['Weigh'].min()

14.5

In [31]:
df['Weigh'].max()

22.9

Q9_a

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('Q9_a.csv')

In [5]:
df

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [6]:
df['speed'].skew()

-0.11750986144663393

In [7]:
df['speed'].kurt()

-0.5089944204057617

In [8]:
df['dist'].skew()

0.8068949601674215

In [9]:
df['dist'].kurt()

0.4050525816795765

Q9_b

In [10]:
import pandas as pd

In [11]:
df=pd.read_csv('Q9_b.csv')

In [12]:
df

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [13]:
df['SP'].skew()

1.6114501961773586

In [14]:
df['SP'].kurt()

2.9773289437871835

In [15]:
df['WT'].skew()

-0.6147533255357768

In [16]:
df['WT'].kurt()

0.9502914910300326

Q11

In [17]:
from scipy import stats

In [21]:
stats.norm.interval(0.94,200,30)

(143.57619175546247, 256.42380824453755)

In [22]:
stats.norm.interval(0.98,200,30)

(130.2095637787748, 269.7904362212252)

In [23]:
stats.norm.interval(0.96,200,30)

(138.38753268104531, 261.61246731895466)

Q12

In [24]:
import pandas as pd
import numpy as np

In [29]:
x=pd.Series([34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56])

In [30]:
x.mean()

41.0

In [31]:
x.median()

40.5

In [33]:
x.var()

25.529411764705884

In [34]:
x.std()

5.05266382858645

Q20

In [35]:
from scipy import stats

In [36]:
import pandas as pd

In [37]:
df=pd.read_csv('Cars.csv')

In [38]:
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [39]:
df['MPG'].mean()

34.422075728024666

In [40]:
df['MPG'].std()

9.131444731795982

In [41]:
stats.norm.cdf(38,34.422,9.131)

0.6524161898269749

In [42]:
1-stats.norm.cdf(38,34.422,9.131)

0.3475838101730251

In [43]:
stats.norm.cdf(40,34.422,9.131)

0.729362470706113

In [44]:
stats.norm.cdf(50,34.422,9.131)-stats.norm.cdf(20,34.422,9.131)

0.8988852898457339

Q21

In [45]:
df['MPG'].mean()

34.422075728024666

In [46]:
df['MPG'].median()

35.15272697

In [47]:
df['MPG'].mode()

0    29.629936
Name: MPG, dtype: float64

In [51]:
df['MPG'].skew()

-0.17794674747025727

In [52]:
df['MPG'].kurt()

-0.6116786559430913

Q21.b

In [53]:
import pandas as pd

In [54]:
df=pd.read_csv('wc-at.csv')

In [55]:
df

      Waist      AT
0     74.75   25.72
1     72.60   25.89
2     81.80   42.60
3     83.95   42.80
4     74.65   29.84
..      ...     ...
104  100.10  124.00
105   93.30   62.20
106  101.80  133.00
107  107.90  208.00
108  108.50  208.00

[109 rows x 2 columns]

In [57]:
df[['Waist','AT']].mean()

Waist     91.901835
AT       101.894037
dtype: float64

In [58]:
df[['Waist','AT']].median()

Waist    90.80
AT       96.54
dtype: float64

In [59]:
df[['Waist','AT']].skew()

Waist    0.134056
AT       0.584869
dtype: float64

In [60]:
df[['Waist','AT']].mode()

   Waist     AT
0   94.5  121.0
1  106.0  123.0
2  108.5    NaN

Q22

In [61]:
from scipy import stats

In [62]:
stats.norm.ppf(0.95)

1.6448536269514722

In [63]:
stats.norm.ppf(0.97)

1.8807936081512509

In [64]:
stats.norm.ppf(0.80)

0.8416212335729143

Q23

In [66]:
from scipy import stats

In [68]:
stats.t.ppf(0.975,24)

2.0638985616280205

In [70]:
stats.t.ppf(0.98,24)

2.1715446760080677

In [71]:
stats.t.ppf(0.995,24)

2.796939504772804

Q24

In [72]:
from scipy import stats

In [73]:
t=(260-270)/(90/18**0.5) # finding t-score

In [74]:
t

-0.4714045207910317

In [75]:
stats.t.cdf(t,17)

0.32167253567098364